{{ define "main" }}
<div class="col-xs-12 col-sm-8 col-md-9 content-column white-background">
  <div class="row">
    <div class="col-lg-8">
      {{ partial "mobile_nav_toggle.html" . }}
      <p class="content-column-content">
      <h1>{{ .Title }}</h1>
      {{ if and (isset .Params "image") .Params.image }}
      <img src="{{.Params.image | absURL}}" alt="" class="img-responsive">
      {{ end }}
      {{ .Content }}
      <h5>Tags</h5>
      <ul>
        {{ range .Params.tags }}
        <li>
          <a href="/tags/{{ . | urlize }}">{{ . }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>
</div>
{{ end }}
